{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-styled-left alert-arrow-left alert-dismissible fade-error" style="margin-bottom: 0; height:48px;">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
			</button>
            <span class="font-weight-semibold">
                <i>{{ message }}</i>
            </span>
        </div>
    {% endfor %}
{% endfor %}